@import '../variables.scss';

.container {
  border-bottom: 1px solid $color-bg;
  display: flex;
  justify-content: center;
  padding: $space-l;

  @media screen and (min-width: $breakpoint-width-s) {
    justify-content: space-between;
  }
}

.logo-wrapper {
  align-items: center;
  display: flex;
  user-select: none;
}

.logo-img {
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  > img {
    margin: 0;
    width: 48px;
  }
}

.logo {
  position: relative;
  padding-left: 58px;
}

.logo-text {
  margin-bottom: 0;
}

.nav-wrapper {
  align-items: center;
  display: none;

  @media screen and (min-width: $breakpoint-width-s) {
    display: flex;
  }
}

.nav-link {
  color: $color-secondary;
  margin: 0 $space-m;
  text-decoration: none;
  transition: color 200ms;

  &:visited {
    color: $color-secondary;
  }

  &:hover, &:active, &.active {
    color: $color-primary !important;
  }
}
