@import '../variables.scss';

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.logo {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;

}

.logo-link {
  color: inherit;
  text-decoration: none;

  &:active, &:hover, &:visited {
    color: inherit;
  }
}

.logo-text {
  margin-bottom: 0;
}

.nav-link {
  color: $color-secondary;
  margin: 0 $space-m;
  text-decoration: none;
  transition: color 200ms;

  &:visited {
    color: $color-secondary;
  }

  &:hover, &:active, &.active {
    color: $color-primary !important;
  }
}
