$color-primary: #7395ae;
$color-primary-light: #a3c5e0;
$color-primary-dark: #45677f;

$color-secondary: #5d5c61;
$color-secondary-light: #8a898e;
$color-secondary-dark: #343337;

$color-text: black;

$space-xs: 6px;
$space-s: 12px;
$space-m: 18px;
$space-l: 24px;

$min-width-app: 480px;
$max-width-app: 1600px;

$min-width-xs: 480px;
$min-width-s: 720px;
$min-width-m: 1080px;
$min-width-l: 1200px;

$font-size: 16px;
$font-size-l: 24px;
